<!-- <form action='/users' method="post" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" name="user[username]"><br><br>
    <label for="email">Email:</label>
    <input type="text" name="user[email]"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value=
    "<%= form_authenticity_token %>">



</form> -->


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label "Username Here:" %>
  <%= form.text_field :username, :value => "Your user name" %>

  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "email@example.com" %>
  
  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Create" %>
<% end %>